h3{

    font-family: 'Dancing Script', cursive;

}



#inferior{

    font-family: 'Source Code Pro', monospace;

    font-size: 14px;

}

h2{

    font-family: 'Big Shoulders Display', cursive;

    font-size: 25px;

}