* {

    margin: 0px;

}

/* superior */
#superior{

    text-align: center;

    width: 100%;
    
    background-image: url(https://image.freepik.com/foto-gratis/hermoso-fondo-banner-textura-hoja-naturaleza_156745-285.jpg);
    background-size: 100%;

    

}

#inferior{

background-color: rgb(32, 32, 32);
border-bottom: 1px solid rgb(177, 252, 57);
border-top: 1px solid rgb(177, 252, 57);
text-align: center;

}

img{

    width: 128px;

}





.logo{

    margin-top: 2%;
    margin-bottom: 4%;
    margin-right: 15px;
    text-align: center;
    display: inline-block;
   
    
    width: 250px;
    border: 1px solid rgb(177, 252, 57);
    background-image: url(https://image.freepik.com/foto-gratis/hermoso-fondo-banner-textura-hoja-naturaleza_156745-285.jpg);
    color: rgb(32, 32, 32);
}



footer{

    background-image: url(https://image.freepik.com/foto-gratis/hermoso-fondo-banner-textura-hoja-naturaleza_156745-285.jpg);
    background-size: 100%;
    text-align: center;
    
}

a{

    color: whitesmoke;
    text-decoration: none;


}


hr{

  
    border-width: 0.5px;
    border-color: rgb(177, 252, 57);

}

#flecha{

    width: 200px;
    border-radius: 200px;
    filter: brightness(0.25);

}

h2{

    color:  rgb(177, 252, 57);
    margin-top: 2%;

}


.logo:hover{

    transform: scale(0.9);
    transition-duration: 0.5s;

}


#abeja:hover{

    filter: sepia(100%) saturate(330%) opacity(97%) contrast(92%);
    -webkit-filter: sepia(100%) saturate(330%) opacity(97%) contrast(92%);
    -moz-filter: sepia(100%) saturate(330%) opacity(97%) contrast(92%);
    transition-duration: 2s;

}


#perro:hover {

    filter: sepia(100%) hue-rotate(193deg) saturate(330%) opacity(97%) contrast(92%);
    -webkit-filter: sepia(100%) hue-rotate(193deg) saturate(330%) opacity(97%) contrast(92%);
    -moz-filter: sepia(100%) hue-rotate(193deg) saturate(330%) opacity(97%) contrast(92%);
    transition-duration: 2s;

}

#gato:hover {

    filter: sepia(100%) hue-rotate(310deg) saturate(330%) opacity(97%) contrast(92%);
    -webkit-filter: sepia(100%) hue-rotate(310deg) saturate(330%) opacity(97%) contrast(92%);
    -moz-filter: sepia(100%) hue-rotate(310deg) saturate(330%) opacity(97%) contrast(92%);
    transition-duration: 2s;

}


